.container-canvas-search {
    width: 50em;
    height: 30em;
    background-color: var(--font-color-light);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 2px 18px 9px rgba(7, 30, 45, 0.6);
}

.search-array-container {
    height: 22em;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.buttons-search {
    width: 15em;
    font-size: 16px;
    height: 3.4em;
    min-width: fit-content;
    border: none;
    border-radius: 3px;
    background-color: var(--contrast-color);
}

.buttons-search:hover {
    background-color: var(--contrast-color-hover);
    cursor: pointer;
}

.buttons-search:active {
    background-color: var(--contrast-color-active);
    cursor: pointer;
}

.input-search {
    width: 10em;
    height: 3.4em;    
    font-size: 16px;
    min-width: fit-content;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 1em;
}

.inputs-and-info-search {
    display: flex;
    width: 45em;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}