.container-canvas {
    width: 50em;
    height: 35em;
    background-color: #e6e5e5;
    border: 1px solid #a8a7a7;
    border-radius: 15px;
}

.h1-canvas {
    margin: 0;
}

.search-array-container {
    height: 25em;
    display: flex;
    gap: 2px;
    align-items: flex-end;
}