.container-canvas-search {
    width: 50em;
    height: 30em;
    background-color: #e6e5e5;
    border: 1px solid #a8a7a7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-array-container {
    height: 22em;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.buttons-search {
    width: 15em;
    height: 3.4em;
    min-width: fit-content;
    border: none;
    border-radius: 3px;
    background-color: rgb(165, 165, 113);
}

.input-search {
    width: 12em;
    height: 3.4em;
    min-width: fit-content;
    border: none;
    border-radius: 3px;
    padding-left: 1em;
}

.inputs-and-info-search {
    display: flex;
    width: 45em;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}