.element-search {
    height: 16em;
    width: 2.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.5em;
}

.active {
    background-color: var(--search-elements-active-color);
}

.normal {
    background-color: var(--search-elements-normal-color);
}

@media (max-width: 924px) and (orientation: landscape) {
    .element-search { 
        width: 5vw;
        height: 15em;
        font-size: 0.8em;
    }
}

@media (max-width: 417px) and (orientation: portrait) {
    .element-search { 
        width: 7vw;
        height: 18em;
        font-size: 0.7em;
    }
}