.element-search {
    height: 16em;
    width: 2.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.5em;
}

.active {
    background-color: var(--search-elements-active-color);
}

.normal {
    background-color: var(--search-elements-normal-color);
}