.button-main {
    border: none;
    background-color: var(--contrast-color);
    border-radius: 10px;
    font-size: 2em;
    width: 10em;
    height: 2.3em;
    color: var(--font-color-dark);
}

.button-main:hover {
    background-color: var(--contrast-color-hover);
    cursor: pointer;
}

.button-main:active {
    background-color: var(--contrast-color-active);
    cursor: pointer;
}