.h1-demo {
    margin: 0.5em 0;
    color: var(--font-color-light);
    padding-left: 1em;
}

.children-demo {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.container-demo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}

.difficulty-line {
    padding-left: 2em;
    padding-top: 1em;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--contrast-color);
}

/* wider laptops */
@media (1180px < width <= 1300px) and (orientation: landscape) {
    .h1-demo {
        font-size: 1.6em;
    }

    .children-demo {
        padding-top: 1em;
        gap: 1.5em;
    }

    .difficulty-line {
        font-size: 1.2em;
        padding-top: 1em;
    }
}

/* tablets & small laptops */
@media (924px < width <= 1180px) and (orientation: landscape) {
    .h1-demo {
        font-size: 1.6em;
    }

    .children-demo {
        padding-top: 1em;
        gap: 1.5em;
    }

    .difficulty-line {
        font-size: 1.2em;
        padding-top: 1em;
    }
}

@media (417px < width <= 820px) and (orientation: portrait) {
    .container-demo {
        align-items: center;
    }

    .h1-demo {
        font-size: 1.6em;
        padding-left: 0;
    }

    .children-demo {
        flex-direction: column-reverse;
        padding: 0;
        padding-top: 1em;
        gap: 1.5em;
        align-items: center;
    }

    .difficulty-line {
        font-size: 1.2em;
        padding-top: 1em;
        padding-left: 0;
    }
}

/* phones */
@media (max-width: 924px) and (orientation: landscape) {
    .container-demo {
        align-items: center;
    }

    .h1-demo {
        font-size: 1.3em;
        margin: 0;
        padding-left: 0;
    }

    .children-demo {
        flex-direction: column-reverse;
        padding: 0;
        padding-top: 0.7em;
        gap: 1em;
        align-items: center;
    }

    .difficulty-line {
        font-size: 1em;
        padding-top: 0.8em;
    }
}

@media (max-width: 417px) and (orientation: portrait) {
    .container-demo {
        align-items: center;
    }

    .h1-demo {
        font-size: 1.3em;
        margin: 0;
        padding-left: 0;
    }

    .children-demo {
        flex-direction: column-reverse;
        padding: 0;
        padding-top: 0.7em;
        gap: 0.5em;
        align-items: center;
    }

    .difficulty-line {
        font-size: 1em;
        padding-top: 0.6em;
    }
}