.description-container {
    width: 40em;
    min-height: 30em;
    height: fit-content;
    background-color: var(--light-main-color);
    color: var(--font-color-light);
    border-radius: 15px;
    padding: 1em 2em;
}