.description-container {
    width: 40em;
    min-height: 30em;
    height: fit-content;
    background-color: var(--light-main-color);
    color: var(--font-color-light);
    border-radius: 15px;
    padding: 1em 2em;
    box-shadow: -2px 2px 18px 9px rgba(7, 30, 45, 0.6);
}