.container-canvas-sort {
    width: 50em;
    height: 30em;
    background-color: #e6e5e5;
    border: 1px solid #a8a7a7;
    border-radius: 15px;
    display: flex;
    gap: 2px;
    padding-top: 6em;
    justify-content: center;
}