.container-canvas-sort {
    width: 50em;
    height: 30em;
    background-color: var(--font-color-light);
    border-radius: 15px;
    display: flex;
    gap: 2px;
    padding-top: 6em;
    justify-content: center;
}