.element-sort {
    height: 20em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8em;
    background-color: hsl(var(--hue), 80%, 50%);
    margin-bottom: 15em;
    transition: all 0.2s linear;
}